<h1>
  <%= @post.headline %>
</h1>

<p>
  <%= @post.text %>
</p>

<h2>
  New Comment
</h2>

<%= form_for [@post, Comment.new] do |f| %>
  <div>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>


<h2>
  Comments
</h2>

<% @post.comments.each do |comment| %>
  <ul>
    <li>
      <p>
        <%= comment.text %>
      </p>
      <p>
        <%= link_to comment.name, "mailto:#{comment.email}" %> has written the post on
        <%= comment.created_at.strftime("%d.%m.%Y") %>
      </p>
      <div>
        <%= link_to 'delete', post_comment_path(@post, comment), method: 'DELETE' %>
      </div>
    </li>
  </ul>
<% end %>
